<!DOCTYPE html>
<html lang="en">
<head>
    <title>keby</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/plugins/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/linearicons-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/plugins/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="/styles/util.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
</head>

<body class="animsition" style="animation-duration: 1500ms; opacity: 1;">
    
    <div class="super_container">
        
        <%- include('./page/head.ejs') -%> 
        
        <div class="container single_product_container" style="padding-top: 15vh;">
			<div class="row">
				<div class="col">
		
					<!-- Breadcrumbs -->
					<div class="breadcrumbs d-flex flex-row align-items-center">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>wish list</a></li>
						</ul>
					</div>
		
				</div>
			</div>
		</div>
        
        
        <%- include('./component/contentWishList.ejs') -%> 
        
        <%- include('./component/benefit.ejs') -%> 
        
        <%- include('./component/newsLetter.ejs') -%> 
        
        <%- include('./page/foot.ejs') -%> 

    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="/plugins/animsition/js/animsition.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
