<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Best Sellers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>

                        <!-- Slide 1 -->

                        <% if (products) { %>
                            <% for( let index = 0; index < products.length; index++ ) { %>
                                <% if (products[index].section === 'popular') { %>
                                    <div class="owl-item product_slider_item">
                                        <div class="product-item">
                                            <div class="product discount">
                                                <div class="product_image">
                                                    <img src="upload/img/<%= products[index].images[0] %> " alt="<%= products[index].name %>">
                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-25%</span></div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/single/<%= products[index]._id %>"><%= products[index].name %></a></h6>
                                                    <div class="product_price"><%= products[index].price %> fcfa<span><%= products[index].price + products[index].price *25/100 %> fcfa</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>

                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
