<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>New Arrivals</h2>
                </div>
            </div>
        </div>
        <!-- <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Product 1 -->
                    <% if (products) { %>
                        <% for( let index = 0; index < products.length; index++ ) { %>
                            <% console.log(products[index]); %> 
                            <% if (products[index].section === 'arrival') { %>
                                <div class="product-item men">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="/upload/img/<%= products[index].images[0] %> " alt="<%= products[index].name %>">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-5%</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/single/<%= products[index]._id %>"><%= products[index].name %></a></h6>
                                            <div class="product_price"><%= products[index].price %> fcfa <span><%= products[index].price + products[index].price * 5/100 %> fcfa</span></div>
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="/cart/Item/<%= products[index].id %>">add to cart</a></div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
</div>
